.TodoSearch {
   width: 100%;
   margin: 12px 0;
   padding: 12px 20px;
   padding-left: 40px;
   color: white;
   outline: none;
   border: 1px solid rgb(3, 3, 49);
   background-color: rgb(3, 3, 49);
   border-radius: 4px;
   background-image: url("./search-icon.png");
   background-repeat: no-repeat;
   background-position: left;
   background-size: 40px;
}
